
* {
  box-sizing: border-box;
  margin: 0;
  padding: 50px;
}

/* Body styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #8B0000;
  color: #222;
  text-align: center;
}
/* Main content */
main {
  padding-top: 80px; 
}

/* Sections */
section {
  padding: 2rem;
  min-height: calc(100vh - 80px);
  display: none; /* hide all by default */
  background-color: #00ff00;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Show the targeted section */
section:target {
  display: block;
}

/* Show home section by default */
section:first-of-type {
  display: block;
}
